h1 {
    text-align: center;
}

ul {
    padding: 0px;
}

ul li {
    border: 1px solid darkslategrey;
    list-style: none;
    padding: 8px;
}

input {
    border: none;
    width: 100%;
}

p {
    margin: 0px;
}

